@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Merienda&display=swap');

:root {
    /* Chosen colors */
    --primary:#3C91E6;
    --secondary:#342E37;
    --accent1:#A2D729;
    --accent2:#FAFFFD;

    /* Chosen fonts */
  --heading-font: Merienda, Arial, sans-serif;
  --paragraph-font: Catamaran, Helvetica, sans-serif;

    
}
h2 {
    margin-left: 50px;
}

body {
    background-color: var(--accent2);
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin-top: 0;
    margin-left: 70px;
    padding: 0;
    max-width: 1200px;
    max-height: 1000px;
    border-style: dashed;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--primary);
    justify-content: space-around;
    height: 300px;
}


header img{
    height: 200px;
    border-radius: 100px;
    border-style: dashed;
    margin-top: 40px;
}

header h1 {
    margin-top: 100px;
    margin-right: 120px;
}

main ul {
    margin-left: 70px;
}

main p {
    margin-left: 300px;
}

footer {
    background-color: var(--accent1);
    height: 100px;
}

footer p {
    margin-left: 50px;
}